/**
    Oceania
**/

@font-face {
    font-family: 'Oceania';
    src: url('/font/oceania/oceania-regular-webfont.eot');
    src: url('/font/oceania/oceania-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/oceania/oceania-regular-webfont.woff') format('woff'),
         url('/font/oceania/oceania-regular-webfont.ttf') format('truetype'),
         url('/font/oceania/oceania-regular-webfont.svg#oceaniaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oceania';
    src: url('/font/oceania/oceania-bold-webfont.eot');
    src: url('/font/oceania/oceania-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/oceania/oceania-bold-webfont.woff') format('woff'),
         url('/font/oceania/oceania-bold-webfont.ttf') format('truetype'),
         url('/font/oceania/oceania-bold-webfont.svg#oceaniaregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oceania';
    src: url('/font/oceania/oceania-light-webfont.eot');
    src: url('/font/oceania/oceania-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/oceania/oceania-light-webfont.woff') format('woff'),
         url('/font/oceania/oceania-light-webfont.ttf') format('truetype'),
         url('/font/oceania/oceania-light-webfont.svg#oceaniaregular') format('svg');
    font-weight: 200;
    font-style: normal;
}

/**
    Reflex
**/

@font-face {
    font-family: 'Reflex';
    src: url('/font/reflex/reflex-webfont.eot');
    src: url('/font/reflex/reflex-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/reflex/reflex-webfont.woff') format('woff'),
         url('/font/reflex/reflex-webfont.ttf') format('truetype'),
         url('/font/reflex/reflex-webfont.svg#reflexregular') format('svg');
    font-weight: normal;
    font-style: normal;
}