<div class="text-wrapper">
	<h2>About the Salon</h2>

	<p>Our clients benefit from our commitment to cutting edge training, personal education, professional growth and the individual service we provide. Our staff are both tutors and students in these areas. It goes without saying that we love what we do.</p>

	<p>Our salon is an eclectic mix of tunes and movies, stylish interior and leading fashion magazines.  We serve Italian sodas, a range of T2 teas, rich hot chocolate and organic coffee - all served with lindt or baci chocolate.</p>

	<p>Our staff are artistic, intelligent hairdressers who love their art, are nationally awarded, Sassoon trained and trainers both here in Australia and overseas for the botique Italian colour we stock.</p>

	<p>We stock Karaal Natura, MK3, EVO, O&M, Fusion Ionic Dryers, Bio Ionic Stylers, Makarizo and Nano Keratin Straightening systems, Amazing Hair 100% Human Hair Extensions, Karaal and Baco colours and Identified Hair colour treatments can be personalised for each client.</p>

	<p><a href="/about/team/" class="big-link right">Our Team</a><p>
</div>
