<!DOCTYPE html>
<html>
	<head>
		<title>@if (title!=null) { @title - Identified Hair } else { Identified Hair - We Do Outstanding Hair } - Perth, Western Australia</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lte IE 8]>
			<link rel="stylesheet" type="text/css" href="/css/ie.css" />
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]>
			<link rel="stylesheet" type="text/css" href="/css/screen.css" />
		<![endif]-->
		<!--[if !IE]> -->
			<link rel="stylesheet" type="text/css" href="/css/screen.css" />
		<!-- <![endif]-->
	</head>
	<body @if (bgClass!=null) { class="@bgClass" }>
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse visible-xs visible-sm" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".site-mobile-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" title="Click to go to Home Page">identified hair</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse site-mobile-navbar">
				<ul class="nav navbar-nav">
					@for (item in menuItems) {
						@if (item.children==null) {
							<li class="@if (item.active) { active }">
								<a href="@item.url">
									@if (item.shortText!=null) { @item.shortText } else { @item.text }
								</a>
							</li>
						}
						else {
							<li class="dropdown @if (item.active) { active }">
								<a href="@item.url" class="dropdown-toggle" data-toggle="dropdown">@item.text <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									@for (subItem in item.children) {
										<li class="@if (subItem.active) { active }">
											<a href="@subItem.url">
												@if (subItem.shortText!=null) { @subItem.shortText } else { @subItem.text }
											</a>
										</li>
									}
								</ul>
							</li>
						}
					}
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

		<div class="menu-bg-cont">
			<div class="menu-bg"></div>
		</div>
		<div class="mobile-img"></div>
		<div class="container">
			<div class="main-row">
				<div class="hidden-xs hidden-sm main-menu">
					<h1><a href="/">identified hair</a></h1>
					<div class="sidebar-nav">
						<ul class="nav">
							@for (item in menuItems) {
								@if (item.children==null) {
									<li class="@if (item.active) { active }"><a href="@item.url">@item.text</a></li>
								}
								else {
									<li class="parent-item @if (item.active) { active }">
										<a href="@item.url">@item.text</a>
										<ul>
											@for (subItem in item.children) {
												<li class="@if (subItem.active) { active }"><a href="@subItem.url">@subItem.text</a></li>
											}
										</ul>
									</li>
								}
							}
						</ul>
					</div>
				</div>
				<div class="main-content">
					<div class="content-container">
						@viewContent
					</div>
				</div>
				<ul class="contact-details">
					<li><a href="https://www.google.com.au/maps/place/@contactDetails.address/" target="_blank"><i class="fa fa-map-marker"></i> @contactDetails.address</a></li>
					<li><a href="tel:@contactDetails.phoneNoSpaces"><i class="fa fa-phone"></i> Telephone: @contactDetails.phone</a></li>
					<li><a href="mailto:@contactDetails.email"><i class="fa fa-envelope"></i> @contactDetails.email</a></li>
					<li><a href="http://@contactDetails.website"><i class="fa fa-globe"></i> @contactDetails.website</a></li>
					<li><a href="http://facebook.com/@contactDetails.facebook" target="_blank"><i class="fa fa-facebook-square"></i> @contactDetails.facebook</a></li>
				</ul>
			</div>
		</div>
		<div class="footer">© 2013 Identified Hair.</div>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</body>
</html>
