{
	"embedURL": "http://embedsocial.com/facebook_album/album_photos/321638951314925",
	"adminCredentials": {
		"user": "...",
		"pass": "..."
	},
	"menuFilename": "IdentifiedHairMenuAndPricing.pdf",
	"newsFilename": "IdentifiedHairNews.pdf"
}
